[Unit]
Description=Rust analyzer multiplex server

[Service]
Type=simple
ExecStart=/bin/bash -c 'PATH="$HOME/.cargo/bin:$PATH" /home/jari/.cargo/bin/ra-multiplex-server'

[Install]
WantedBy=default.target
