alias r='ranger'
alias xc='xclip -selection clipboard'

# Git aliasses
alias gs='git status'
#alias ga='git add'
alias gA='git add -A'
alias gc='git commit -v --no-verify'
alias gP='git pull'
#alias gp='git push'
#alias gd='git diff'

# Kubectl
alias k='kubectl'
alias pk='kubectl --context 03926-ivido'
alias tk='kubectl --context transip-dev'
complete -F __start_kubectl k
complete -F __start_kubectl pk
complete -F __start_kubectl tk

# Kubeseal
alias ks='kubeseal'
alias pks='kubeseal --context 03926-ivido'
alias gks='kubeseal --context ivido-gcloud --controller-namespace sealed-secrets'
alias mks='kubeseal --context minikube'

alias h='helm'
alias ph='helm --kube-context 03926-ivido'
alias th='helm --kube-context transip-dev'

# Fix for sudo not being able to handle aliases
alias sudo='sudo '

# Vim
alias vim='nvim'
alias vimrc='tmux new-session -c ~/.config/nvim -s nvimrc nvim .'
alias v='vim'
alias vw='vim -c VimwikiIndex'

# Dotfiles command
alias config="git --git-dir=$HOME/.dotfiles.git --work-tree=$HOME"
alias cfg="config"

# tmux color prompt
alias tmux='TERM=screen-256color tmux'

# Set a wallpaper
alias fehbg='feh --bg-fill'

# Create a temporary folder and cd into it
alias tempy='cd $(mktemp -d)'

# Todoist
alias todoist='todoist-cli'

# Helix
alias hx='helix'

alias screenfetch='neofetch'
