[pull]
	rebase = true
[init]
	defaultBranch = master

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	autocrlf = input

[user]
	email = jari@maijenburg.dev
	name = Jari Maijenburg
	signingkey = 9CB8053C3CED4EE1
