! Set the system font
font: Source Code Pro:size=12:antialias=true:hinting=true! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1! Scrollbars
URxvt.scrollBar: false! Transparency
!URxvt.transparent: true
!URxvt.shading: 20
!URxvt.depth: 32
!URxvt.background: rgba:0000/0000/0000/c800! Stop automatic terminal scrolling
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true! Increase maximum lines to be shown in the terminal
URxvt*saveLines: 20000! ===== Terminal Coloring =====! Default coloring
*background: #282828

Xcursor.size: 16

! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
